<!DOCTYPE html>
<html>
  <head>
    <title>HowMuchShouldIPay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- As a heading -->
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">HowMuchShouldIPay?</span>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <div id='remote_container'></div>
  </body>
</html>
